.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 598px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 15px;
}

.loading {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 740px) {
  .feed {
    width: 100%;
  }
}
