.matchContainer {
  display: flex;
  flex-direction: column;
  border: var(--secondary-color) 1px solid;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.headerInfo img {
  height: 45px;
}

.imgName {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.imgName img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.more {
  display: flex;
  align-items: center;
}

.more img {
  height: 25px;
}

.postInfo {
  margin-top: 7px;
  border-top: var(--secondary-color) 1px solid;
}

.postContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px 10px 10px;
}

.postContent p {
  font-weight: 500;
}

.matchResult {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerMatch {
  display: flex;
  width: 100%;
  justify-content: center;
}

.headerMatch span {
  font-family: "Poppins", "Inter";
  font-weight: 600;
  font-size: 18px;
}

.matchData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.matchData img {
  width: 100px;
  border-radius: 50%;
}

.matchDataImgW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.matchDataImgW span {
  text-align: center;
  width: 200px;
  font-weight: 500;
}

.matchDataImgL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.matchDataImgL span {
  text-align: center;
  width: 200px;
  font-weight: 500;
}

.matchDataImgW img {
  border: var(--text-color2) 2.5px solid;
}

.matchDataImgL img {
  border: #fa6a6a 2.5px solid;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Inter";
  gap: 10px;
}

.scoreMatch {
  font-size: 40px;
  font-weight: 800;
}

.matchStatus {
  font-size: 20px;
  font-weight: 600;
}

.content {
  padding: 7px 10px;
}

.likesComments {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7px 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dropdown {
  position: absolute;
  right: 0;
  margin-right: 20px;
  background-color: white;
  z-index: 1;
}

@media (max-width: 740px) {
  .imageContent img {
    width: 100%;
    max-width: 516px;
    max-height: 516px;
    object-fit: cover;
    margin-left: 0;
  }
  .matchData {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .postContent {
    flex-direction: column;
  }
}
