.profile-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  display: flex;
}

.profile {
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile-header {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 50px 0;
  border-bottom: var(--secondary-color) 1px solid;
}

.userimage img {
  width: 103px;
}

.topheader {
  display: flex;
  width: 100%;
}

.userdata {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.leftdata {
  display: flex;
  align-items: center;
}

.leftdata p {
  font-size: 20px;
  margin-right: 30px;
  font-weight: 600;
}

.leftdata button {
  border: var(--secondary-color) 1px solid;
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.userinfo {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-left: 50px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.bottominfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.username {
  font-size: 15px;
}
.achievements {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userbio {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  height: 100%;
  align-items: end;
}

.btnestatisticas {
  display: flex;
  align-items: center;
  height: fit-content;
  border: var(--secondary-color) 1px solid;
  gap: 3px;
  border-radius: 5px;
  padding: 2px;
}
