.login {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.leftside {
  display: flex;
  height: 100vh;
  width: 50vw;
}
.leftside img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 50%;
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
}
.logincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: var(--secondary-color) 1px solid;
  border-radius: 5px;
  padding: 40px;
  gap: 40px;
}

.loginform img {
  width: 350px;
}

.addloginoption {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: max-content;
  gap: 23px;
}
.addloginoption svg {
  width: 25px;
}

.googlebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 30px;
  background-color: rgba(233, 241, 255, 1);
  border-radius: 5px;
  color: var(--text-color2);
  font-weight: 500;
}
.googlebutton svg {
  margin-right: 10px;
}

.loginicons {
  display: flex;
  height: 55.6px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.loginicons svg {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs input {
  padding: 15px;
  font-family: "Inter";
  font-weight: 400;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  border: var(--secondary-color) 1.4px solid;
  border-radius: 5px;
}

.extraquest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.leftquest {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.signup {
  font-weight: 600;
  color: var(--text-color2);
}

.rightquest p {
  color: var(--text-color);
}

.loginbtn {
  background-color: var(--text-color2);
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;
  margin-top: 45px;
  cursor: pointer;
}

.loginbtn {
  -webkit-tap-highlight-color: none;
}

.errormsg {
  margin-top: 10px;
  color: #ff253f;
}

@media (max-width: 1100px) {
  .leftside {
    display: none;
  }

  .login {
    justify-content: center;
  }

  .loginform img {
    width: 90%;
    max-width: 350px;
  }

  .googlebutton {
    padding: 15px;
    height: 55.6px;
    background-color: #f6f6f6;
    border-radius: 5px;
  }

  .googlebutton span {
    display: none;
  }

  .googlebutton svg {
    margin: 0;
    height: fit-content;
  }

  .extraquest {
    flex-direction: column;
    gap: 5px;
  }
}
