.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 15px;
  padding: 0 10px;
}

.errorContainer p {
  word-wrap: break-word;
  white-space: inherit;
  text-align: center;
}

.errorContainer img {
  width: 40%;
  min-width: 200px;
  max-width: 535px;
}

.oops {
  font-weight: 700;
  font-size: 40px;
}

.error {
  font-weight: 600;
  font-size: 30px;
}

.text {
  font-weight: 500;
  font-size: 20px;
}

.back {
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}
