@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Inter";
  src: url("../node_modules/inter-font/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter";
  display: flex;
  --primary-color: #5fa2dd;
  --secondary-color: #b9c1cc;
  --text-color: #526581;
  --text-color2: #3694e7;
  color: #526581;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Inter";
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem vertical */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f6f5f5;
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Cor da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
