.home-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar-container2 {
  display: flex;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  align-items: center;
  padding: 50px 20px 25px 20px;
}

.feed {
  display: flex;
}
