.sidebaritem {
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
  border-radius: 5px;
  width: 100%;
  align-items: center;
}

.sidebaritem button {
  -webkit-tap-highlight-color: transparent;
}

.sidebaritem:hover {
  background-color: #1d25310d;
  cursor: pointer;
}

.sidebaritem img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin-right: 15px;
}

.sidebaritem p {
  font-weight: 500;
}
